extends layout

block content
    ul.breadcrumb
        li
            a(href="../") Home
        li.active= title

    div.row
        div.col-lg-8
            table.table.table-striped.table-hover
                thead
                    tr
                        td= 'Exercise'
                        td= 'Description'
                        td= 'Sets'
                        td= 'Reps/Time'
                tbody
                for object in exercises
                    tr
                        td= object.name
                        td= object.description
                        td= object.sets
                        td= object.reps_time


    h2='Create new exercise'
    div
        form.form-horizontal(method='POST' action='/exercise/')
            div.form-group
                input.col-md-12#name.form-control(type='text', placeholder='Name' name='name' required='true' value=(undefined===exercise ? '' : exercise.name) )
            div.form-group
                input.col-md-12#description.form-control(type='text', placeholder='Description' name='description' required='true' value=(undefined === exercise ? '' : exercise.description) )
            div.form-group
                input.col-md-12#sets.form-control(type='text', placeholder='Sets' name='sets' required='true' value=(undefined===exercise ? '' : exercise.sets) )
            div.form-group
                input.col-md-12#reps_time.form-control(type='text', placeholder='Reps/Time' name='reps_time' required='true' value=(undefined===exercise ? '' : exercise.reps_time) )

            button.btn.btn-primary(type='submit') Add exercise


    h2='Exercises'

    div


    if errors
        ul
            for error in errors
                li!= error.msg