extends layout

block content
    h1=title

    h2='Create'
    form(method='POST' action='/exercise/')
        div.form-group
            label(for='name')
            input#name.form-control(type='text', placeholder='Name' name='name' required='true' value=(undefined===exercise ? '' : exercise.name) )
        div.form-group
            label(for='description')
            input#description.form-control(type='text', placeholder='Description' name='description' required='true' value=(undefined === exercise ? '' : exercise.description) )
        div.form-group
            label(for='sets')
            input#sets.form-control(type='text', placeholder='Sets' name='sets' required='true' value=(undefined===exercise ? '' : exercise.sets) )
        div.form-group
            label(for='reps_time')
            input#reps_time.form-control(type='text', placeholder='Reps/Time' name='reps_time' required='true' value=(undefined===exercise ? '' : exercise.reps_time) )

        button.btn.btn-primary(type='submit') Add exercise


    h2='Exercises'
    table
        thead
            tr
                td= 'Exercise'
                td= 'Description'
                td= 'Sets'
                td= 'Reps/Time'
        tbody
        for object in exercises
            tr
                td= object.name
                td= object.description
                td= object.sets
                td= object.reps_time

    if errors
        ul
            for error in errors
                li!= error.msg